@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	text-align: right;
	margin-top: 1em;
}

.signature,
cite{
	font-variant: small-caps;
}

blockquote .signature{
	text-align: right;
	margin-top: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
